@import 'https://fonts.googleapis.com/css?family=Fira+Mono';
@import 'https://fonts.googleapis.com/earlyaccess/notosanstc.css';

body, .ui, .content, .item {
  font-family: 'Fira Mono', 'Noto Sans TC';
}

.ui.label {
	margin: .14285714em
}

#root {
	padding: 50px 50px
}

#tool_center, #check_delete {
  position: fixed;
  display: inline-block;
  bottom: 25px;
  right: 25px;  
}

#check_delete {
  z-index: 999;
}

#tool_center {
  z-index: 998;
}

#tool_center button, #check_delete button {
  margin: 10px 0px 0px 0px;
  transition: bottom .6s .25s;
  box-shadow: 0 14px 59px -7px rgba(0,0,0,0.55);
}



