body,
.ui,
.content,
.item,
.header {
  font-family: "Fira Mono", "Noto Sans TC";
}

.ui.label {
  margin: 0.14285714em;
}

#root {
  width: 100%;
  padding: 50px 50px;
}

#check_delete {
  z-index: 999;
}

#tool_center {
  z-index: 998;
}

#menu_btns {
  position: fixed;
  z-index: 999;
  display: inline-block;
  bottom: 25px;
  right: 25px;
  button {
    margin: 10px 0px 0px 0px;
    transition: bottom 0.6s 0.25s;
    box-shadow: 0 14px 59px -7px rgba(0, 0, 0, 0.55);
  }
}

#check_delete_btns {
  position: fixed;
  display: flex!important;
  margin: 0 auto;
  padding: 15px;
  z-index: 999;
  background-color: aliceblue;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  button {
    margin: 0px 20px 0px 20px;
    transition: bottom 0.6s 0.25s;
    box-shadow: 0 14px 40px -7px rgba(0, 0, 0, 0.55);
  }
}

.straight_line {
  height: 50px;
  border-left: 2px solid #ccc;
  padding: 1px;
}
